main {
    /* min-height: 100dvh; */
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
}

.flexBoxColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}